html,
body {
    font-size: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}

.plane {
    width: 0;
    height: 0;
    transform-style: preserve-3d;
}

.view {
    perspective: 800;
    background: #111;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    animation: zRotateView 10s infinite linear;
}

.main .r {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotate 60s linear infinite;
}

.main .r::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: -1px 0 rgba(66, 212, 244, 0.6), -4px 0 30px rgba(66, 212, 244, 0.3), inset 4px 0 30px rgba(250, 250, 255, 0.1);
    animation: zRotate 1s linear infinite;
}

@keyframes main-rotation {
    0% {
        transform: rotateX(60deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(60deg) rotateZ(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes zRotateView {
    from {
        transform: rotateX(0deg) rotateZ(0deg);
    }

    to {
        transform: rotateX(360deg) rotateZ(360deg);
    }
}

@keyframes zRotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}